/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap");

.page {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1280px;
  padding: 6rem 24px 18rem;
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 5rem 5rem;
  background-color: #fafaf9;
}

.reviewers {
  width: 50%;
}

.reviewers h1 {
  font-size: 2.25rem;
  font-weight: 600;
}

.reviewers p {
  font-size: 1.25rem;
  font-weight: 400;
  color: #52525a;
}

.reviewList {
  color: #52525a;
}

.reviewList ul li {
  list-style: none;
  background: url("/testimonial-page/Done_ring_round_fill.svg") no-repeat left
    top;

  padding-left: 2rem;
  padding-top: 3px;
}

.reviewLogo {
  background-color: #f5c044;
  text-align: center;
  padding-top: 0.5rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 50%;
}

@media only screen and (max-width: 640px) {
  .page {
    background-color: rgb(0, 0, 0);
  }
}
